<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="dashboards.dashboard_1">Business To Business</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="page-scroll" page-scroll href="#page-top">Inicio</a></li>
                    <li><a class="page-scroll" page-scroll href="#nosotros">Nosotros</a></li>
                    <li><a class="page-scroll" page-scroll href="#servicios">Servicios</a></li>
                    <li><a class="page-scroll" page-scroll href="#Testimoniales">Experiencias</a></li>
                    <li><a class="page-scroll" page-scroll href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel" ng-non-bindable>
    <ol class="carousel-indicators">
        <li data-target="inSlider" data-slide-to="0" class="active"></li>
        <li data-target="inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>LA BUENA PUBLICIDAD<br/>
                        TIENE DOS FUNCIONES :<br/>
                        EL MARKETING<br/>
                        Y LA INNOVACI&oacute;N</h1>
                    <BR>
                    <p>EN LA PUBLICIDAD, EL NO SER DIFERENTE ES VIRTUALMENTE SUICIDA</p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="img/landing/logo_Btob.png" alt="logo_Btob"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>CAMBIAMOS LA FORMA  <br/> DE OFERTARSE EN EL MERCADO.</h1>
                    <P>Nos ocupamos en traerte clientes, para que te encargues de sus necesidades</P>
                    <!--<p>TU ATIENDE LAS NECESIDADES DE TUS CLIENTES, NOSOTROS EL NUMERO DE CLIENTES.</p>-->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>

        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>TE IMPULSAMOS  <br/> HACIA EL EXITO.</h1>
                    <!--<p>TU ATIENDE LAS NECESIDADES DE TUS CLIENTES, NOSOTROS EL NUMERO DE CLIENTES.</p>-->
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back three"></div>
        </div>

    </div>


    <a class="left carousel-control" data-target="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="nosotros" class="container services">
    <div class="row">
        <div class="col-sm-4">
            <h2 class="text-center">MISI&oacute;N</h2>
                <p class="text-justify">Contribuir en el aumento de las ventas y utilidades de nuestros clientes a trav&eacute;s de estrategias de  marketing, publicidad y  sistematizaci&oacute;n de procesos  que sean vanguardistas y con  visi&oacute;n integral  adem&aacute;s de
                crear oportunidades de empleo y crecimiento en nuestra comunidad para  aumentar y/o mantener  la calidad de vida de nuestros colaboradores y clientes.
                </p>
            <!-- <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
        </div>
       <div class="col-sm-4">
           <h2 class="text-center">VALORES</h2>
           <p class="text-justify">
               EN BtoB buscamos que nuestro trabajo siempre cumpla con los siguientes valores:
           </p>
           <ul class="list-unstyled">
               <li><i class="fa fa-check-circle"></i> Honestidad: <small class="text-muted">descripci&oacute;n</small></li>
               <li><i class="fa fa-check-circle"></i> Respeto: <small class="text-muted">descripci&oacute;n</small></li>
               <li><i class="fa fa-check-circle"></i> Disciplina: <small class="text-muted">descripci&oacute;n</small></li>
               <li><i class="fa fa-check-circle"></i> Proactividad:<small class="text-muted">descripci&oacute;n</small></li>
           </ul>
           <!-- <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
       </div>
        <div class="col-sm-4">
            <h2 class="text-center">VISI&oacute;N</h2>
            <p class="text-justify">Ser una de las tres  mejores agencias de estrategias de marketing y publicidad mostrando estar  siempre a la  vanguardia en el desarrollo de servicios solidos que cubran las expectativas de nuestros clientes.
            </p>
            <!-- <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Brindamos diversos servicios,<br/> <span class="navy"> entre los cuales destacan :</span> </h1>
            <p>Estos servicios pueden estar sujetos a cambios adicionales requeridos por el cliente. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 text-center wow fadeInLeft">
            <div>
                <i class="fa fa-paint-brush features-icon"></i>
                <h2>Dise&ntilde;o Gr&aacute;fico</h2>
                <p>Dise&ntilde;amos la identidad corporativa de tu empresa a tu completo punto de vista desde logotipo, papeleria y folleteria comercial hasta manual de identidad corporativa. </p>
            </div>
            <BR><BR><BR><BR>
            <div class="m-t-lg">
                <i class="fa fa-laptop features-icon"></i>
                <h2>Comunity Manager</h2>
                <p>Nos haacemos cargo de comunidad virtual de tu empresa, administrando tus redes sociales (FACEBOOK, INSTAGRAM, YOUTUBE).</p>
            </div>
        </div>
        <div class="col-md-6 text-center  wow zoomIn">
            <img src="img/landing/perspective.jpg">
        </div>
        <div class="col-md-3 text-center wow fadeInRight">
            <div>
                <i class="fa fa-envelope features-icon"></i>
                <h2>Desarrollo Web</h2>
                <p>Elaboramos un sitio web a tu medida, partiendo de nusestras propias plantillas o con un dise&ntilde;o original y completamente sofisticado. Redise&ntilde;amos tu sitio web actual, implementando nuevos y sofisticados mecanismos publicitarios.</p>
            </div>
            <BR><BR>
            <div class="m-t-lg">
                <i class="fa fa-gears features-icon"></i>
                <h2>Sistematizacion de Procesos</h2>
                <p>Tienes algun proceso manual, del qie quieres que una computador se encargue, nosotros te ayudamos a hacerlo posible y de esta manera mejorar tu area de proceso. </p>
            </div>
        </div>
    </div>
</section>

<section id="servicios" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Descubre todo en lo que podemos ayudarte</h1>
            <p>Estos servicios pueden estar sujetos a cambios adicionales requeridos por el cliente.</p>
        </div>
    </div>

    <div class="row features-block">
        <div class="row features-block" id="disgraf">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>DISE&Ntilde;O GR&Aacute;FICO</h2>
                <p>Business To Business te ofrece un conjunto de herramientas publicitarias:</p>
                <div collapse="!masinfo">
                    -Logotipos<br>
                    -P&oacute;sters  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        -Folletos <br>
                    -Tr&iacute;ptico &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       -D&iacute;pticos<br>
                    -Empaques        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    -Etiquetas... etc.<br>
                    -Fotograf&iacute;as <br>
                    -Calendarios<br>
                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo=!masinfo">Mas Informaci&oacute;n</a>
            </div>
                <div class="col-sm-4">
                    <img src="img/landing/btobdiseniografico.png" width="120" height="120" alt="dashboard" class="img-responsive">
                </div>
        </div>

        <div class="row features-block" id="disidentidad">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>DISE&Ntilde;O DE IDENTIDAD CORPORATIVA</h2>
                <p>Business To Business te ofrece un conjunto de herramientas publicitarias distintivas para tu empresa, como son:  </p>
                <div collapse="!masinfo1">
                    -Logotipos<br>
                    -Manual de identidad corporativa
                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo1=!masinfo1">Mas Informaci&oacute;n</a>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobIdentidadCorporativa.png" width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="dislogo">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>DISE&Ntilde;O DE LOGOTIPO</h2>
                <p>Toda empresa debe contar con un simblo distintivo, Bisness To Bisness te ofrece un dise&ntilde;o original construido de principio a fin a tu gusto y necesidades cumpliendo un procedimiento estandarizado</p>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobDisenioLogotipo.png" width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="manual">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>MANUAL DE IDENTIDAD CORPORATIVA </h2>
                <p>Ofrecemos un documento en el que se muestra el dise&ntilde;an de las l&iacute;neas maestras de la imagen de una compa&ntilde;&iacute;a, servicio, producto o instituci&oacute;n.
                    <br><br>En &eacute;l, se definen las normas que se deben seguir para imprimir la marca y el logotipo en los diferentes soportes internos y externos de la compa&ntilde;&iacute;a, con especial hincapi&eacute; en aquellos que se mostrar&aacute;n al p&uacute;blico. El manual describe los signos gr&aacute;ficos escogidos por la compa&ntilde;&iacute;a para mostrar su imagen as&iacute; como todas sus posibles variaciones: forma, color, tama&ntilde;o, etc.</p>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobIdentidadCorporativa.png" width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="commanager">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>COMMUNITY MANAGER</h2>
                <p>Hacerse cargo de la administraci&oacute;n de tus redes sociales puede ser un poco tedioso e incluso desconocido, asi que en business to business te apoyamos con dar seguimiento a tu comunidad digital. </p>
                <div collapse="!masinfo2">
                    Administramos tus redes sociales como lo son:<br>
                    -Facebook<br>
                    -YouTube<br>
                    -Twitter<br>
                    -Instagram
                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo2=!masinfo2">Mas Informaci&oacute;n</a>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobCommunity%20Manager.png" width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="merca">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>MERCADOTECN&Iacute;A</h2>
                <p> si necesitas ayuda para mejorar las ventas de tu negocio, lo masseguro es que necesites que Business To Business te ayude tanto a ti como a ts clientes a conocer las necesidades existentes y la mejor forma de atenderlas </p>
                <div collapse="!masinfo3">
                    -Branding.   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-Estudio de Posicionamiento. <br>
                    -Sondeo de Mercado.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -An&aacute;lisis de Competencia. <br>
                    -Campa&ntilde;as publicitarias. <br>
                    -Planeaci&oacute;n de medios. <br>
                    -Sondeo de Opini&oacute;n. <br>
                    -Estudio de Imagen Corporativa.<br> 
                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo3=!masinfo3">Mas Informaci&oacute;n</a>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobMercadotecnia.png" width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="desaweb">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>DESARROLLO WEB</h2>
                <p> Business To Business esta conciente de que nos encontramos en la era de la tecnologia y de las comunicaciones web y sabemos que hoy en dia la mejor publicidad es la digital, asi que si deseas estar a la vanguardia publicitaria nosotros te ayudamos </p>
                <div collapse="!masinfo4">
                    -Plantillas Basicas. <br>
                    -Plantillas Elaboradas desde cero.<br>
                    -Plantillas Mejoradas. <br>
                    -E-Cards.<br>
                    -E-Commerce.<br>
                    -Actiualizaci&oacute;n y redise&ntilde;o de p&aacute;ginas ya existentes.
                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo4=!masinfo4">Mas Informaci&oacute;n</a>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobDesarrolloWeb.png"  width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="sistematizacion">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>SISTEMATIZACION DE PROCESOS</h2>
                <p>En toda empresa u organizaci&oacute;n existe aulg&uacute;n &aacute;rea de proceso o de producci&oacute;n que requiera de una gesti&oacute;n o estandarizacio&acute;n paso a paso, por ejemplo agendar citas, realizar reportes y estadisticas, etc. </p>
                <div collapse="!masinfo5">
                    -Identificamos tus necesidades.<br>
                    -Elaboraci&oacute;n de producto en plataforma web.<br>
                    -Elaboraci&oacute;n de producto en plataforma de escritorio.<br>
                    -Te damos soporte t&eacute;cnico.<br>
                    -Elaboramos de manuales del producto.<br>
                    -Damos capacitaci&oacute;n a los usuarios finales.

                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo5=!masinfo5">Mas Informaci&oacute;n</a>
            </div>
            <div class="col-sm-4">
                <img src="img/landing/btobSistematizacionProcesos.png" width="120" height="120" alt="dashboard" class="img-responsive">
            </div>
        </div>

        <div class="row features-block" id="sistemati">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <small>Business To Business</small>
                <h2>SOPORTE T&Eacute;CNICO</h2>
                <p>En toda empresa u organizaci&oacute;n existe aulg&uacute;n &aacute;rea de proceso o de producci&oacute;n que requiera de una gesti&oacute;n o estandarizacio&acute;n paso a paso, por ejemplo agendar citas, realizar reportes y estadisticas, etc. </p>
                <div collapse="!masinfo6">
                    -Asistencia T&eacute;cnica.<br>
                    -Instalaci&oacute;n de software.<Br>
                    -Reparaci&oacute;n de equipos.
                </div>
                <a href="" class="btn btn-primary" ng-click="masinfo6=!masinfo6">Mas Informaci&oacute;n</a>
                </div>
            <div class="col-sm-4">
                <img src="img/landing/btobSoporte.png" width="120" height="120" alt="dashboard" class="img-responsive" >
            </div>
        </div>
</section>

<br><br>

<section id= "Testimoniales" class="navy-section testimonials" style="margin-top: 0">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    LO QUE NUESTROS USUARIOS DICEN
                </h1>
                <div class="testimonials-text">
                    <i>" 'A <strong>business to bussines</strong> nos interesa mantener una constante interaccion con nuestrros clientes fijos y los potenciales, para conocer un poco mas y mas de cerca sus necesidades y de esta manera atendercos con perfecta conciencia del producto que requieren ."</i>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="comments gray-section" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>EXPERIENCIA DE NUESTROS USUARIOS CON NUESTROS PRODUCTOS</h1>
                <p>Para brindar el mejor servicio debemos estar consientes de lasnecesidades directas del publico en general. </p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-4">
                <div class="bubble">
                    "Business to business dise&ntilde;o nuestro logotipo y folletos y ha resultado de mucha ayuda, pues el dise&ntilde;o original y llamativo ha hecho que mas clientes dirijan su mirada hacia nosotros."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/pape.png">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Papeleria KARY
                        </div>
                        <small class="text-muted">Compa&ntilde;ia distribuidora de articulos de oficina</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Ningun otro software para administrar nuestras sucursales habia sido tan eficiente y tan economico como el que business to bussines nos dise&ntilde;o."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/dentalGS.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Dental GS
                        </div>
                        <small class="text-muted">Clinicas Dentales GS</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bubble">
                    "Business to business ha sido de gran apoyo a la publicidad de nuestro negocio que comenzo ciendo familiar, ahora tenemos sucursales ya que nos han elaborado flyers y una pagina web para abarcar mas mercado."
                </div>
                <div class="comments-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="img/landing/avatar2.jpg">
                    </a>
                    <div class="media-body">
                        <div class="commens-name">
                            Chef. Jose Romero
                        </div>
                        <small class="text-muted">Banquetes Don Jos&eacute;</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section id="equipo" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Our Team</h1>
                <p> Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="img/landing/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Amelia</span> Smith</h4>
                    <p> Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow zoomIn">
                    <img src="img/landing/avatar1.jpg" class="img-responsive img-circle" alt="">
                    <h4><span class="navy">John</span> Novak</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="img/landing/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                    <h4><span class="navy">Peter</span> Johnson</h4>
                    <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                    <ul class="list-inline social-icon">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<section class="features">
    <div class="container">
    </div>
</section>-->

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>CONTACTANOS</h1>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Business To Business
                    </span></strong><br/>
                    Ex Hacienda sn Felipe 2a, Coacalco<br/>
                    Estado de Mexico, CP 55717<br/>
                    <abbr title="Phone">Telefono: </abbr> +52 (55) 2605-3186
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--<a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>-->
                <p class="m-t-sm">
                    Siguenos en nuestras Redes Sociales
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/Businesstobusinessmexico/?fref=ts"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2016 Business To Business</strong><br/>
                    construimos la base para ampliar tus fronteras mercantiles.</p>
            </div>
        </div>
    </div>
</section>

<!-- Local script for menu handle -->
<!-- It can be also directive -->

<script>
    $(document).ready(function () {
        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();
</script>